node_modules
dist
.tmp
.sass-cache
.idea
bower_components
xd-ui.sublime-project
xd-ui.sublime-workspace
.editorconfig
.bower_cache
ui/app/styles/main.css
ui/app/styles/main.css.map
src/main/resources/public
ui/node
ui/app/lib/
.classpath
.project
.settings

/target/
.springBeans